body{
    background: #ccc;
}
form{
    padding: 100px;
    width: 400px;
    height: auto;
    background: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 0 black;
    margin-top: 200px;
}
form .list{
    display: flex;
    border-bottom: solid 1px #ccc;
    padding: 15px 0px;
}
form .list p{
    flex-grow: 1;
    padding-top: 11px;
    font-size: 15px;
    font-family: arial;
    text-transform: capitalize;
}
input[type = "checkbox"]{
    display: none;
}
label{
    background: #ccc url(icons.webp);
    background-size: 200%;
    /* background-position: top 11px left -7px; */
    color: white;
    cursor: pointer;
    display: block;
    width: 39px;
    height: 39px;
}
input[type="checkbox"]:checked+label{
    background-position: top -1px left -41px;
}