*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;  
}
.bg{
    background-image:  url(bg_1.png) ;
    height: 786px;
    margin-bottom: 120px;
    width: 100%;
    
    /*  */
}
.mainn{
    display: flex;
    width: 1296px;
    margin: auto;
    
}
.logo{
    flex-grow: 1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 24px;
    color: #2449AB;
    padding-top: 40px;
}
.bi{
    display: none;
}
.nav{
    display: flex;
    gap: 37px;
    margin-right: 68px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-transform: capitalize;
    padding-top: 40px;
}
.menu{
    display: flex;
    
}
.btn1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    width: 164px;
    height: 56px;
    margin-top: 24px;
    background: #2449AB;
    border-radius: 8px;
    border: none;

}
.btn1 a{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.blueDiv{
    
    display: flex;
    width: 1296px;
    height: 194px;
    margin: auto;
    background: #2449AB;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 120px;
    
}
.blueDiv h3{
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
   


color: #FFFFFF;
}
.blueDiv .inSec{

    width:209.68px ;
    gap: 24.8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    margin: auto;
    color: #FFFFFF;
    

}

.threePD{
    display: flex;
    width: 1296px;
    margin: auto;
}
.threePD h4{
    margin-top: 145px;
    width: 378px;
    height: 112px;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;  
    color: #0A043C;
}
.threePD p{
    margin-top: 20px;
    width: 564px;
    height: 96px;
}
.left_side button{
    margin-top: 40px;
    width: 153px;
    height: 56px;
    background: #2449AB;
    border-radius: 8px;
    border:none;
}
.left_side a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
.right_side{
    display: flex;
}
.right_side img{
    width: 100%;
   
}

.photos_1{
    margin-top: 127px;
    width: 50%;
}
.photos_2{
    width: 50%;
}
.bg2{
    margin-top: 154px;
    background-color: #F6F8FC;
    height: 688px;
}
.serviceDiv{
    display: flex;
    padding-top: 60px;
    width: 1296px;
    margin: auto;
    gap: 20px;
}
.box1{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 306px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
}
.circlee1{
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    background-color: #E6F9F5;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #00BB98;
    margin-bottom: 20px;
}
.box1 h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: auto;
    text-align: center;
    color: #0A043C;
    width: 266px;
    height: 26px;
}
.box2{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 306px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
}
.circlee2{
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    background-color: #EAEDF7;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #00BB98;
    margin-bottom: 20px;
}
.box2 h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: auto;
    text-align: center;
    color: #0A043C;
    width: 266px;
    height: 26px;
}
.box3{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 306px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 20px;
}
.circlee3{
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    background-color: #EAEDF7;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #2449AB;
    margin-bottom: 20px;
}
.box3 h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: auto;
    text-align: center;
    color: #0A043C;
    width: 266px;
    height: 26px;
}
.box3{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 306px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
}
.circlee2{
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    background-color: #FFEEEF;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #FD4C5C;
    margin-bottom: 20px;
}
.box3 h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: auto;
    text-align: center;
    color: #0A043C;
    width: 266px;
    height: 26px;
}
.box4{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 306px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 4px 40px rgba(43, 89, 255, 0.08);
}
.circlee4{
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    background-color: #FFF2EE;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #FF794D;
    margin-bottom: 20px;
}
.box4 h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    margin: auto;
    text-align: center;
    color: #0A043C;
    width: 266px;
    height: 26px;
}
.end{
    padding-top: 10px;
    width: 266px;
    height: 78px;
    margin: auto;
    text-align: center;
}

.rs2{
    width: 550px;
    margin: auto;
    margin-left: 80px;
}
.rs2 h4{
    width: 402px;
    height: 112px;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #0A043C;
}
.rs2 p{
    width: 550px;
    height: 96px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.rs2 button{
    background: #2449AB;
    border-radius: 8px;
    width: 184px;
    height: 56px;
    border: none;
}
.rs2 a{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
}
.team{
    width: 1296px;
    margin: auto;
    margin-top: 119px;
}
.satauri h5{
    width: 417px;
    height: 56px;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #0A043C;
}
.satauri p{
    width: 550px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;   
    color: #0A043C;   
    opacity: 0.7;
}
.personas{
    display: flex;
    margin-top: 40px;
    gap:20px
}
.person1{
    background-image: url(ph_2_1.png);
    height: 340px;
    width: 306px;
    border-radius: 15px;
}
.person1 h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-left: 24px;  
    padding-top: 16px;
}
.person1 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-left: 26px; 
}

.person2{
    background-image: url(ph_2_2.png);
    height: 340px;
    width: 306px;
    border-radius: 15px;
}
.person2 h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-left: 24px;  
    padding-top: 16px;
}
.person2 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-left: 26px; 
}
.person3{
    background-image: url(ph_2_3.png);
    height: 340px;
    width: 306px;
    border-radius: 15px;
}
.person3 h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-left: 24px;  
    padding-top: 16px;
}
.person3 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-left: 26px; 
}
.person4{
    background-image: url(ph_2_4.png);
    height: 340px;
    width: 306px;
    border-radius: 15px;
}
.person4 h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-left: 24px;  
    padding-top: 16px;
}
.person4 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-left: 26px; 
}
.agwera{
    width: 286px;
    height: 84px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    margin-top: calc(330px - 84px);
}
.bg3{
    background-color: #F6F8FC;
    margin-top: 120px;
}
.boloswina{
    padding-top: 60px;
    width: 1296px;
    height: 898px;
    display: flex;
    margin: auto;
    gap: 24px;
}
.lside h3{
    
    width: 456px;
    height: 112px;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #0A043C;
}
.lside p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0A043C;  
    opacity: 0.7;
    width: 468px;
    height: 48px;
}
.poto{
    margin-top: 70px;
    background-image: url(ph_3_2.png);
    border-radius: 16px;
    width: 746px;
    height: 538px;
}

.person5{
    background-image: url(ph_3_1.png);
    width: 526px;
    height: 377px;
    border-radius: 16px;
    display: grid;

}
.person5 .agweraa{
    display: flex;
    width: 506px;
    height: 84px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    margin-top: calc(367px - 84px);

}
.flx{
    flex-grow: 1;
    margin-left: 24px;
}
.flx h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0A043C;
    margin-top: 16px;
    
    
}
.bi-play-circle{
    display: block;
    margin-top: 16px;
    margin-right: 24px;
    font-size: 40px;
    color: #2449AB;
}
.face{
    background-image: url(ph_3_3.png);
    height: 110px;
    width: 110px;
    border-radius: 100%;
    
}
.person6{
    width: 438px;
    margin: auto;
    padding-top: 40px;
}
.person6 h6{
    margin-top: 40px;
    width: 139px;
    height: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}
.person6 p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    width: 438px;
    height: 87px;   
}
.blu{
    width: 526px;
    height: 377px;
    background: linear-gradient(0deg, #2449AB, #2449AB), url(.jpg);
    border-radius: 16px;
    margin-top: 34px;
}
.bolotxt{
    height: 350px;
    padding-top: 130px;
    width: 1150px;
    margin:auto;
    display: flex;
    gap:200px;

}
.main_item{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #0A043C;
    letter-spacing: 2px;
}
.list-group-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #0A043C;
    opacity: 0.7;
}
.list-group-item a{
    color: inherit;
    
}
