body{
    background-image: url(baikal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.logo-menu{
    display: flex;
}
.logo{
    width: 180px;
    height: 150px;
    word-wrap: break-word;
    margin-left: 300px;
}
.baikal{
    color: white;
    font-size: 70px;   
    position: absolute; 
    
}
.foundation{
    color: white;
    margin-top:80px ;
    position: absolute;
    font-size: 35px;
    margin-left: 5px;
      
}
.menu{
    display: flex;
    font-size: 30px;
    color: white;

    
    margin-left: 1200px;
    
}
.homes{
    padding: 40px;
    
}
.Homes{
    text-decoration: none;
    color: rgb(190, 221, 235);
}
.about{
    padding: 40px;
}
.About{
    text-decoration: none;
    color: rgb(190, 221, 235);
}
.news{
    padding: 40px;
}
.News{
    text-decoration: none;
    color: rgb(190, 221, 235);
}
.elements{
    padding: 40px;
}
.Elements{
    text-decoration: none;
    color: rgb(190, 221, 235);
}


.button{
   
    border: solid 3px;
    width: 200px;
    height: 70px;
    border-radius: 50px;
    margin-top: 26px;
    display: grid;

}
.Purchose{text-decoration: none;
    color: white;
    align-self: center;
    margin:auto

    
}
.content{

    
    margin-top: 400px;
    margin-left: 800px;
    color: azure;
  
}
.had{
    
    font-size: 40px;
    margin-left: 580px;

}

.slogan{
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 300px;

}
.btn{
    background-color: rgb(54,179,166);
    width:300px;
    height: 80px;
    border-radius: 50px;
    margin-left: 565px;
    margin-top:80px ;
    display: grid;
}
.learn{
    color: white;
    text-decoration: none;
    align-self: center;
    font-size: 30px;
}