*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image: url(img_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.page{
    display: flex;
}
.menubar{
    color: white;
    width: 300px;
    height: 743px;
    box-shadow: 0px -1px 5px 0px;
    backdrop-filter: blur(3px);
    
    
}
#btn1{
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;

}
#b1{
    
    margin-right: 15px;
}
#b2{
    
    margin-right: 15px;
}
#b3{
    
    margin-right: 15px;
}
#b4{
    
    margin-right: 15px;
}
#b5{
    
    margin-right: 15px;
}
#b6{
    
    margin-right: 15px;
}
#b7{
    
    margin-right: 15px;
}
#b8{
    
    margin-right: 15px;
}

#btn2{
    padding: 20px;
    font-size: 20px;
}
#btn3{
    padding: 20px;
    font-size: 20px;
}
#btn4{
    padding: 20px;
    font-size: 20px;
}
#btn5{
    padding: 20px;
    font-size: 20px;
}
#btn6{
    padding: 20px;
    font-size: 20px;
}
#btn7{
    padding: 20px;
    font-size: 20px;
}
#btn8{
    padding: 20px;
    font-size: 20px;
}
.satauri{
    
    font-size: 25px;
    
    box-shadow: 0px -1px 5px 0px;
    height: 70px;
    display: grid;
    display: flex;
}
#text{
    margin: auto;
}
.links{
    padding: 20px;
    margin-top: 80px;
    margin-left: 70px ;

}
#c1{
    margin-right: 10px;
}
#c2{
    margin-right: 10px;
}
#c3{
    margin-right: 10px;
}
.sidebar{
    margin: 100px;
    margin-top: 200px;
}
#head{
    font-size: 50px;
    width: 300px;
    color:aliceblue;
    background-color: black;
    opacity: 1;

}
#bottom_1{
    font-size: 150px;
    font-weight: bold;
    color: aliceblue;
    
    margin-bottom: 10px;
    background-color: black;
    opacity: .6;
}
#simkrtale{
    opacity: none;
}
#bottom_2{
    font-size: 150px;
    font-weight: bold;
    color: aliceblue;
    background-color: black;
    margin-left: 20px;
}

